#divFiltrosBusqueda {
    background-color:white !important;
    border-radius:10px;
    margin-left: 11px;
}

.margin {
    margin-left: 10px;
}
.btnGenerarPDF {
    cursor:pointer;
}
.usuarios {
    cursor:pointer;
}
.margin-top {
    margin-left: 10px;
    margin-top: 10px;
}

.margin-bottom {
    margin-left: 10px;
    margin-bottom: 10px;
}
#btnBorrar {
  margin-left: 44%;
}

#divGrupo {
    margin-bottom: 26px;
}


.requerido-evidencia{
    background-color: red;
    padding: 6px 12px;
    border-radius: 4px;
    position: absolute;
    color: #fff;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
	position: absolute;
	font-size: 12px;

}

.requerido-evidencia:before{
        content: '';
        border-top: 8px solid transparent;
        border-bottom: 8px solid red;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        left: 4px;
        position: absolute;
        top: -14px;
    }
.requerido-auto{
    background-color: red;
    padding: 6px 12px;
    border-radius: 4px;
    position: absolute;
    color: #fff;
    margin-left: 160px;
    margin-top: 0px;
    margin-bottom: 0px;
	position: absolute;
	font-size: 12px;

}

.requerido-auto:before{
        content: '';
        border-top: 8px solid transparent;
        border-bottom: 8px solid red;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        left: 4px;
        position: absolute;
        top: -14px;
    }